/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

    body{
        margin: 0;
        top: 0;
        box-sizing: border-box;
    }

    /* common css ends here */

    .container {
        width: 1440px; 
        min-height: 100vh;
        background-attachment: fixed;
        margin: auto;
        text-align: center;
        background: 
        url('./images/pattern-squiggly-line-top.svg') no-repeat right top,
        url('./images/pattern-squiggly-line-bottom.svg') no-repeat left bottom,
        url('./images/pattern-lines.svg') no-repeat center right,
        url('./images/pattern-circle.svg') no-repeat center right,
            url('./images/background-desktop.png') no-repeat center top; /* First background image */
            /* Second background image */
            /* Third background image */
        background-size: auto, auto, contain,auto, cover; /* Keeps backgrounds visible */
        background-position: right 100px , 0px 450px, center right, 80% 50%, left bottom; /* Specific positioning of each image */
        background-repeat: no-repeat; /* No repetition of images */
      /*   background-color: lightgray;  Temporary background color to ensure visibility */
        position: relative;
    }
  .FormContentContainer{
   width: 700px;
   margin: auto;
   padding: 20px;
   position:absolute;
   top: 0%;
   right: 0%;
   bottom: 0%;
   left: 0%;
display: block;
z-index: 1;
    }
    
  .FormContentContainer header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .top_headline{
        display: flex;
        margin: auto;
        padding-bottom: 20px;
    }
     header h2{
        font-size: 50px;
        color: hsl(0, 0%, 100%);
        margin: 0;
     }
     header p{
        color: hsl(252, 6%, 83%);
       word-spacing: 8px;
        font-size: 20px;
        margin: 0;
        padding-top: 20px;
     }
     form{
      width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 50px;
     }
     .fileInputBox{
      text-align: start;
      display: flex;
      flex-direction: column;
      gap: 10px; 
     width: 400px;
     }
     .fileInputBox p{
        margin: 0;
        color: hsl(0, 0%, 100%);
     }

    input[type="file"]{
     display:  none;
    }
    .FileInputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px 0;
    background-color: #01224dd5;
    border: 1px dashed hsl(252, 6%, 83%);
    border-collapse: separate;
    border-radius: 10px;
  
    }

    .FileInputWrapper:hover{
     cursor: pointer;
     background-color:hsl(245, 15%, 58%) ; 
    }

    .FileInputWrapper svg{
       background-color:hsl(245, 15%, 58%) ; 
        padding: 6px;
        border-radius: 10px;
    }
    .FileInputWrapper span{
        font-size: 15px;
        color: hsl(252, 6%, 83%);
    }
    .info_box{
        margin: 0;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .info_box span{
    font-size: 12px;
    color: hsl(252, 6%, 83%);
    }

    .fullname_box{
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    }
    .fullname_box input{
        outline: none;
        border: 1px solid hsl(252, 6%, 83%);
        padding: 15px 20px;
        background-color: #01224dd5;
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
       
    }

    .Email_box{
        width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .Email_box input{
        outline: none;
        border: 1px solid hsl(252, 6%, 83%);
        padding: 15px 20px;
        background-color: #01224dd5;
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .Gitusername_box{

     width: 400px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: start;
    }

    .Gitusername_box input{
        outline: none;
        border: 1px solid hsl(252, 6%, 83%);
        padding: 15px 20px;
        background-color: #01224dd5;
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .sumbit{
        outline: none;
        border: 1px solid hsl(252, 6%, 83%);
        padding: 15px 20px;
        background-color: hsl(7, 71%, 60%);
        width: 100%;
        box-sizing: border-box;
        color: hsl(248, 70%, 10%);
        border-radius: 10px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 17px;
        border: none;
        cursor: pointer;

    }
    .sumbit:hover{
        background-color: hsl(7, 88%, 67%);
    }
   .input_label{
        color: hsl(0, 0%, 100%);
        font-size: 15px;
        text-align: right;
    }
   

  .error_p, #file_error{
   color: red;
   margin: 0 0 0 10px;
   padding: 0;
   
  }

  .active{
    display: block;
  }
  .Inactive{
    display: none;
  }

    /* from style ends here */

.TicketContentContainer{
  display: none;
  opacity: 0;
    position:absolute;
    top: 6%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 700px;
    margin: auto;
    padding: 20px;
    z-index: 0;
}
.TicketContentContainer header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.Ticket_container{
 background: url('./images/pattern-ticket.svg');
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-left: 50px;
}

header h2 span{
  background: linear-gradient(90deg, #FF7F7F,#FFFFFF ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p span{
color: #FF7F7F;
}

.left_side{
width: 70%;
display: flex;
flex-direction: column;
align-items: flex-start;

padding: 20px;
}

.top_side{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_date{
  color: hsl(252, 6%, 83%);
  margin-left: 50px;
  font-size: 12px;
}
.down_side{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
}
.down_side img{
  width: 80px;
  height: 80px;
border-radius: 10px;

}
.info_part{
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 margin: 0;
 padding: 0;

}

.info_p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
}
.logo_part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo_part p{
  font-size: 17px;
  color: hsl(252, 6%, 83%);
}

.right_side{
  width: 50px;
  margin-right: 120px;
  margin-bottom: 100px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.right_side p{
  rotate: 90deg;
  color: hsl(252, 6%, 83%);
  margin-left: 70px;
}
/* right side design starts from here */



/* media query stats here ----------------------------------------------------------------------------------------------*/
/* media query stats here ----------------------------------------------------------------------------------------------*/

/* Base mobile styles for screens up to 375px */
@media screen and (max-width: 375px) {
  .active{
    display: block;
  }
  .Inactive{
    display: none;
  }

  .container {
      width: 100%;
     min-height: 850px;
     background-attachment: fixed;
     margin: auto;
     text-align: center;
     background: 
     url('./images/pattern-squiggly-line-top.svg') no-repeat right top,
     url('./images/pattern-squiggly-line-bottom.svg') no-repeat left bottom,
     url('./images/pattern-lines.svg') no-repeat center right,
     url('./images/pattern-circle.svg') no-repeat center right,
         url('./images/background-mobile.png') no-repeat center top; /* First background image */
         /* Second background image */
         /* Third background image */
     background-size: contain, contain, contain,auto, cover; /* Keeps backgrounds visible */
     background-position: right top ,left bottom, right center, 80% 50%, left bottom; /* Specific positioning of each image */
     background-repeat: no-repeat; /* No repetition of images */
   /* background-color: lightgray;  Temporary background color to ensure visibility */
     position: relative;
  }
  .FormContentContainer{
    width: 90%;
    /* padding: 20px; */
     }

     .FormContentContainer header{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .top_headline{
      display: flex;
      margin: 0;
      justify-content: center;
  }

  header h2{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding-bottom: 20px;
 }
 header p{
    color: hsl(252, 6%, 83%);
   word-spacing: 8px;
    font-size: 20px;
    margin: 0;
    padding-top: 0px;
 }

 
.Ticket_container{
  background: url('./images/pattern-ticket.svg');
   background-repeat: no-repeat;
   height: 100%;
   display: flex;
   justify-content: space-around;
   margin-top: 0px;
   margin-left: 0px;
 } 
 form{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 0px;
 }
 .fileInputBox{
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px; 
 width: 100%;
 }

 .fullname_box{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  }
  .fullname_box input{
      outline: none;
      border: 1px solid hsl(252, 6%, 83%);
      padding: 15px 20px;
      background-color: #01224dd5;
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
     
  }

  .Email_box{
    width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;
  }

  .Email_box input{
      outline: none;
      border: 1px solid hsl(252, 6%, 83%);
      padding: 15px 20px;
      background-color: #01224dd5;
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
  }

  .Gitusername_box{

   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: start;
  }

  .Gitusername_box input{
      outline: none;
      border: 1px solid hsl(252, 6%, 83%);
      padding: 15px 20px;
      background-color: #01224dd5;
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
  }

  .sumbit{
      outline: none;
      border: 1px solid hsl(252, 6%, 83%);
      padding: 15px 20px;
      background-color: hsl(7, 71%, 60%);
      width: 100%;
      box-sizing: border-box;
      color: hsl(248, 70%, 10%);
      border-radius: 10px;
      margin-top: 20px;
      font-weight: bold;
      font-size: 17px;
      border: none;
      cursor: pointer;

  }


  /* ticket card starts here */
  
.TicketContentContainer{
  position:absolute;
  top: 6%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 100%;
  margin: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.TicketContentContainer header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}


.Ticket_container{
background: url('./images/pattern-ticket.svg');
background-size: contain;
background-repeat: no-repeat;
background-position: right top;
min-height: 100vh;
display: flex;
justify-content: space-around;
margin: 20px;
}

header p{
  color: hsl(252, 6%, 83%);
 word-spacing: 8px;
  font-size: 15px;
  margin: 0;
  margin-bottom: 40px;
}

header h2 span{
background: linear-gradient(90deg, #FF7F7F,#FFFFFF ); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

header p span{
color: #FF7F7F;
}

.left_side{
width: 70%;
display: flex;
flex-direction: column;
}

.top_side{
display: flex;
justify-content: center;
align-items: center;
}


.Card_date{
color: hsl(252, 6%, 83%);
margin-left: 50px;
font-size: 10px;
}
.down_side{
display: flex;
justify-content: center;
gap: 15px;
margin-top: 10px;
}
.down_side img{
width: 50px;
height: 50px;
border-radius: 7px;

}
.info_part{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin: 0;
padding: 0;

}

.info_p{
margin: 0;
padding: 0;
font-size: 15px;
color: hsl(0, 0%, 100%);
}
.logo_part{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.logo_part p{
font-size: 14px;
color: hsl(252, 6%, 83%);
}

.right_side{
width: 100%;
margin-right: 120px;
margin-bottom: 100px;
font-size: 17px;
display: flex;
justify-content:center;
align-items: flex-start;

}

.right_side p{
rotate: 90deg;
color: hsl(252, 6%, 83%);
margin-left: 0px;
margin-top: 70px;
}

}


